<mat-toolbar style="background: #ff5836; color:white;">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Connecting</span>
        </button>
        <button mat-menu-item>
          <mat-icon>videocam</mat-icon>
          <span>Let's talk</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space text-center"><h3 style="color:white; margin-left:10px;">SGS Book Shelves</h3> </span>
  </mat-toolbar>
  
  <div class="container topBtmSpace">
    <div class="row" style="background:#765C43">
      <div class="col-md-12">
        <h4>Telugu</h4>
        <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png" class="animated bounceIn delay-2s"></a>
        <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png" class="animated bounceIn delay-4s"></a>
        <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png" class="animated bounceIn delay-6s"></a>
        <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png" class="animated bounceIn delay-8s"></a>
        <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png" class="animated bounceIn delay-10s"></a>
      </div>
    </div>    
    <div class="row" style="background:#765C43">
        <div class="col-md-12">
          <h4>Kannada</h4>
          <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
          <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
          <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
          <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
          <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
        </div>
      </div> 
      <div class="row" style="background:#765C43">
          <div class="col-md-12">
            <h4>Sanskrit</h4>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
          </div>
        </div> 
        <div class="row" style="background:#765C43; padding-bottom:20px;">
          <div class="col-md-12">
            <h4>English</h4>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
            <a href="#" routerLink="/book"><img src="../assets/images/LibShelf1.png"></a>
          </div>
        </div> 
  </div>