<mat-toolbar style="background: #ff5836; color:white;">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Connecting</span>
        </button>
        <button mat-menu-item>
          <mat-icon>videocam</mat-icon>
          <span>Let's talk</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space text-center"><h3 style="color:white; margin-left:10px;">List of books of Telugu</h3> </span>
  </mat-toolbar>

  <div class="container topBtmSpace">
    <div class="row">
      <div class="col-md-12 imgSize">
        <a href="../assets/images/వేదాలలో పక్షి విజ్ఞానము.pdf" target="_blank"><img src="../assets/images/book7.jpg"></a>
        <a href="#"><img src="../assets/images/book4.jpg"></a>
        <a href="#"><img src="../assets/images/book2.jpg"></a>
        <a href="#"><img src="../assets/images/book3.jpg"></a>
        <a href="#"><img src="../assets/images/book4.jpg"></a>
        <a href="#"><img src="../assets/images/book5.jpg"></a>
        <a href="#"><img src="../assets/images/book6.gif"></a>
        <a href="#"><img src="../assets/images/book6.gif"></a>
        <a href="#"><img src="../assets/images/book5.jpg"></a>
        <a href="#"><img src="../assets/images/book4.jpg"></a>
        <a href="#"><img src="../assets/images/book3.jpg"></a>
        <a href="#"><img src="../assets/images/book2.jpg"></a>
        <a href="#"><img src="../assets/images/book4.jpg"></a>
      </div>
    </div>
  </div>